:root {
  --md-ref-typeface-brand: "Poppins", sans-serif;
  --md-ref-typeface-plain: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--md-sys-color-surface);
  margin: 0;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.85rem;
}
